body{
    font-size: 27px;
    font-style: italic;
    text-align: center;
    list-style-position: inside; /* MOVE THE BULLET POINTS ALONG WITH THE TEXT */
    background-image: linear-gradient(rgba(0,0,0,0.5)), url(images/AV_7.jpeg);
    color: snow;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul li{
    list-style-type: circle;
}


